@import 'partials/variable';

// header

.header {
  background-color: $morado;

  .text {
    color: $blanco;
    padding-top: 20%;

    h1 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 55px;
    }
    p {
      font-size: 22px;
      font-weight: 100;
      padding: 20px 50px;
    }
  }

  header {
    width: 100%;

    .first-content {
      margin: 0 auto;
    	max-width: 1170px;
    	padding: 40px 0;
    	width: 100%;
    }
    .logo {
      float: left;
    }
    img{
      width: 68%
    }
    hr {
      border-color: $mOscuro;
    }
  }

  header.fixed {
    .first-content {
  		border-bottom: 0;
  		padding: 25px 0;
  	}
  }
  .nav-toggle {
    display: none;
    height: 44px;
    overflow: hidden;
    position: fixed;
    right: 5%;
    text-indent: 100%;
    top: 32px;
    width: 44px;
  }
  nav {
    float: right;
    li {
      display: inline-block;
    }
    a {
      margin-left: 40px;
      color: $blanco;
      text-transform: uppercase;
      &:hover,
  		&.active {
  			color: $blanco;
  		}
    }
  }

  .find{
    background-color: $rojo;
    color: $blanco;
    margin-top: 35px;
    margin-bottom: 100px;
    padding: 10px 35px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

// footer

.footer {
	text-align: center;

  .first-footer {
    background-color: $mClaro;
    .sections {
      padding: 50px 15px 70px 15px;
      h5 {
        color: $blanco;
        text-transform: uppercase;
      }
      p {
        color: $mOscuro;
        font-size: 14px;
      }
      .social-networks {
        margin-right: 40px;
        li {
          display: inline-flex;
          padding: 10px 3px;
        }
        a{
          color: $blanco;
          border-style: solid;
          padding: 5px 10px;
        }
      }
    }
  }

  .second-footer {
    background-color: $morado;
    p {
      color: grey;
      font-size: 14px;
    }
    .second-section {
      padding: 30px;
    }
  }
}

// service

.services {
  .container{
    margin-top: 101px;
    margin-bottom: 70px;

    .serv-Sect {
      text-align: center;
     margin-bottom: 44px;
      p {
        color: grey;
      }
    }
  }
}

// portfolio

.portafolio {
  .container {
    top:0;
  	margin-left:-15px;
  	width:100%;
  	height:100%;
    margin-bottom: 100px;

    .each {
      margin-top: 1px;
      float: left;
    }
  }
}

// team

.team {
  .container {
    margin-bottom: 90px;
    .content {
      h5 {
        color: $rojo;
        text-transform: uppercase;
      }
    }
    .social-networks {
      margin-left: -40px !important;
      li {
        display: inline-flex;
      }
      a{
        color: grey;
        border: 1px solid;
        padding: 5px 10px;
      }
    }
  }
}

// client

.client {
  .container {

    width:100%;
    .img-responsive {
      display: block;
      height: auto;    // Scale the height according to the width, otherwise you get stretching
    }
  }
}

//download

.download {
  .container {
    margin-top: 86px;
    margin-bottom: 100px;
    .row {
      text-align: center;
      button {
        width: 250px;
      }
    }
  }
}
